<%= turbo_frame_tag "modal" do %>
  <div id="class-info-modal"
       class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
       data-controller="class-modal"
       data-class-modal-target="modal"
       data-action="click->class-modal#outsideClick">
    <div class="bg-neutral-900 rounded-lg p-6 w-full max-w-xl shadow-lg text-white relative">
      <button class="absolute top-3 right-3 text-gray-300 hover:text-white"
              type="button"
              data-action="click->class-modal#close">
        <i class="fa fa-times"></i>
      </button>

      <div class="flex">
        <div id="modal_header" class="flex items-center gap-4">
          <%= image_tag "icons/#{klass.name.downcase}.png", class: "w-8 h-8" %>
          <h2 class="text-xl font-bold"><%= klass.name %></h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
